<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to too many failed Sign In attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlocked', unlock_url(@resource, unlock_token: @token) %></p>
