<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @jackpot_real_time.data %>
</p>

<%= link_to 'Edit', edit_jackpot_real_time_path(@jackpot_real_time), "data-turbolinks": "false" %> |
<%= link_to 'Back', jackpot_real_times_path %>
